In [119]:
#Importing the libraries
import pandas as pd
import pandas_datareader as pdr

In [120]:
#Load the stock data
data = pdr.get_data_stooq("AAPL", start="2012-01-01", end="2023-02-07")
data.head()

               Open    High     Low   Close       Volume
Date
2023-02-07  150.640  155.23  150.64  154.65   83322551.0
2023-02-06  152.575  153.10  150.78  151.73   69858306.0
2023-02-03  148.030  157.38  147.83  154.50  154357337.0
2023-02-02  148.900  151.18  148.17  150.82  118338980.0
2023-02-01  143.970  146.61  141.32  145.43   77663633.0

In [121]:
#Sort the data
data.groupby('Close').describe()

          Open                                                        \
         count      mean std       min       25%       50%       75%
Close
12.0642    1.0   11.9844 NaN   11.9844   11.9844   11.9844   11.9844
12.1110    1.0   12.5108 NaN   12.5108   12.5108   12.5108   12.5108
12.2467    1.0   12.4151 NaN   12.4151   12.4151   12.4151   12.4151
12.3155    1.0   12.1410 NaN   12.1410   12.1410   12.1410   12.1410
12.3773    1.0   12.5607 NaN   12.5607   12.5607   12.5607   12.5607
...        ...       ...  ..       ...       ...       ...       ...
178.3460   1.0  178.2960 NaN  178.2960  178.2960  178.2960  178.2960
178.4160   1.0  174.1890 NaN  174.1890  174.1890  174.1890  174.1890
178.6650   1.0  181.5760 NaN  181.5760  181.5760  181.5760  181.5760
179.2940   1.0  176.0630 NaN  176.0630  176.0630  176.0630  176.0630
180.9580   1.0  176.8010 NaN  176.8010  176.8010  176.8010  176.8010

                    High            ...       Low           Volume  \
               max count      mean  ...       75%       max  count
Close                               ...
12.0642    11.9844   1.0   12.3443  ...   11.8967   11.8967    1.0
12.1110    12.5108   1.0   12.5368  ...   12.0402   12.0402    1.0
12.2467    12.4151   1.0   12.4829  ...   12.2387   12.2387    1.0
12.3155    12.1410   1.0   12.4251  ...   12.0881   12.0881    1.0
12.3773    12.5607   1.0   12.5876  ...   12.3045   12.3045    1.0
...            ...   ...       ...  ...       ...       ...    ...
178.3460  178.2960   1.0  179.5920  ...  177.1100  177.1100    1.0
178.4160  174.1890   1.0  178.5960  ...  173.6800  173.6800    1.0
178.6650  181.5760   1.0  181.8850  ...  178.0870  178.0870    1.0
179.2940  176.0630   1.0  179.3820  ...  176.0430  176.0430    1.0
180.9580  176.8010   1.0  181.8250  ...  176.6810  176.6810    1.0

                                                                      \
                  mean std           min           25%           50%
Close
12.0642   7.041446e+08 NaN  7.041446e+08  7.041446e+08  7.041446e+08
12.1110   7.700066e+08 NaN  7.700066e+08  7.700066e+08  7.700066e+08
12.2467   3.873675e+08 NaN  3.873675e+08  3.873675e+08  3.873675e+08
12.3155   4.967221e+08 NaN  4.967221e+08  4.967221e+08  4.967221e+08
12.3773   4.224284e+08 NaN  4.224284e+08  4.224284e+08  4.224284e+08
...                ...  ..           ...           ...           ...
178.3460  6.271079e+07 NaN  6.271079e+07  6.271079e+07  6.271079e+07
178.4160  1.160725e+08 NaN  1.160725e+08  1.160725e+08  1.160725e+08
178.6650  9.988681e+07 NaN  9.988681e+07  9.988681e+07  9.988681e+07
179.2940  7.535440e+07 NaN  7.535440e+07  7.535440e+07  7.535440e+07
180.9580  1.053089e+08 NaN  1.053089e+08  1.053089e+08  1.053089e+08


                   75%           max
Close
12.0642   7.041446e+08  7.041446e+08
12.1110   7.700066e+08  7.700066e+08
12.2467   3.873675e+08  3.873675e+08
12.3155   4.967221e+08  4.967221e+08
12.3773   4.224284e+08  4.224284e+08
...                ...           ...
178.3460  6.271079e+07  6.271079e+07
178.4160  1.160725e+08  1.160725e+08
178.6650  9.988681e+07  9.988681e+07
179.2940  7.535440e+07  7.535440e+07
180.9580  1.053089e+08  1.053089e+08

[2650 rows x 32 columns]

In [122]:
#Explore data
data['Date']=data['Close'].apply(lambda x: 1 if x=='Date' else 0)
data.head()

               Open    High     Low   Close       Volume  Date
Date
2023-02-07  150.640  155.23  150.64  154.65   83322551.0     0
2023-02-06  152.575  153.10  150.78  151.73   69858306.0     0
2023-02-03  148.030  157.38  147.83  154.50  154357337.0     0
2023-02-02  148.900  151.18  148.17  150.82  118338980.0     0
2023-02-01  143.970  146.61  141.32  145.43   77663633.0     0

In [124]:
#Split data into train and test sets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data.Open, data.Date, test_size=0.25)

In [147]:
#Import sklearn GaussianNB library
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [149]:
#Fit model
model.fit(x_train, y_train)

GaussianNB()

In [151]:
#Calculate model score
model.score(x_test, y_test)

1.0

In [152]:
x_test[0:10]

array([['178.576'],
       ['46.4404'],
       ['16.8407'],
       ['12.4151'],
       ['44.9988'],
       ['15.4359'],
       ['92.7422'],
       ['132.03'],
       ['39.9213'],
       ['142.783']], dtype=object)

In [153]:
y_test[0:10]

Date
2022-01-05    0
2019-04-01    0
2014-03-07    0
2013-06-27    0
2018-07-03    0
2013-09-03    0
2020-07-30    0
2023-01-13    0
2018-12-17    0
2022-10-20    0
Name: Date, dtype: int64

In [158]:
#Calculate the score using cross validation
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),x_train,y_train,cv=5)

array([1., 1., 1., 1., 1.])